source $(brew --prefix nvm)/nvm.sh
nvm use

# host=$(ifconfig | grep netmask | awk '{print $2}' | tail -n 1)

# is_host=$(cat /etc/hosts | grep $host)
# echo ${host}  'local.m.pet-friends.co.kr' | sudo tee -a /etc/hosts
# echo $is_host

# echo ${host} 'local.m.pet-friends.co.kr'
# code /etc/hosts
